
.ptop {
    border: #2aabd2 solid;
    border-radius: 10px;
}

.icon {
    margin: 12px 10px 5px 0px;
    height: 80px;
    width: 60px;
}

.phone {
    height: 40px;
    width: 30px;
    margin: 30px -5px 0px 0px;
}

.showcontent {
    display: flex;
    flex-direction: column;
}

.showitem {
    height: 100px;
    width: 100%;
    background: orange;
    margin-bottom: 5px;
    border: #2aabd2 solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}

.item {
    /*width: 281px;*/
    height: 100%;
    background: olive;
    border-right: #3c3c3c solid;
}

.imgshow {
    height: 90px;
    width: 60px;
    padding-top: 10px;
}

.chooseitem {
    margin-top: 5px;
    width: 210px;
    display: flex;
    flex-direction: row;
}

.inputsm {
    width: 24px;
    border: #2b669a solid;
    border-radius: 8px;
}

.nav {
    border: #987cb9 solid;
    border-radius: 10px;
    margin-right: 10px;
    background: #303A70;
    padding: 10px 0 6px 0;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.ftips {
float: left;
    /*padding-left: 10px;*/
    font-size: 18px;
    color: orange;
    margin-top: 5px;
    /*text-align: ;*/

}

/**************悬浮球效果*************/
.ball {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    background: #238ff9;
    vertical-align: top;
    /*float:;*/
    margin-top: -15px;
    margin-left: -5px;

}

.balltxt {
    display: block;
    color: #FFFFFF;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

/******************************/

.facbtn {
    margin-right: 10px;
    margin-top: 10px;
}